.footer {
  height: 50px;
}
.texto-footer {
  color: #d3af72;
}
.copyright {
  color: #ffffff;
}

.footer .navbar {
  padding-top: 30px;
  padding-bottom: 20px;
}
//.texto-footer, .copyright{
//  text-align: center;
//}
