.btn-create-user {
  float: right;
}
.name-panel-user {
  font-size: 14px;
}
.div-textformat {
  background-color: #e9ecef;
  opacity: 1;
  border: 1px solid #d5dbe0;
  height: 33px;
  padding: 8px;
  border-radius: 4px;
}
.div-textformat-textarea {
  background-color: #e9ecef;
  opacity: 1;
  border: 1px solid #d5dbe0;
  height: 54px;
  padding: 8px;
  border-radius: 4px;
}
