.react-datepicker-wrapper {
  display: block !important;
}

.panel .panel-heading {
  padding: 10px 7px !important;
}

.link-process-text {
  color: #800000;
}
.easy-edit-component-wrapper {
  max-width: 90px;
  margin-right: 2px;
}
.easy-edit-button-wrapper .btn-danger {
  width: 24px;
}

#movimentacaoTable b {
  color: #ff0000;
}
